/* Our Story Section */
.story {
  padding: 10px 20px;
  text-align: center;
  background:url("RedefinedWorksColor2.png") no-repeat;
}

.story h1 {
  font-size: 90px;
  margin-bottom: 20px;
  font-family: "Allura";
  color:white;
}
.WhoWeAre{
	color:white;
	font-size:45px;
	font-family: "Allura";
	
}
.text-box{
  max-width: 1900px;
  font-family: "Allura";
  color:white;
}

/* Parallax Effect for the Logo */
.parallax {
  position: relative;
  background: url('IMG_5216.JPEG') no-repeat center center;
  background-size: cover;
  background-attachment: fixed; /* Parallax effect */
  height: 100vh; /* Full screen height (1920x1080) */
  text-align: center;
}

/* Portfolio Section */
.container {
  max-width: 1900px;
  margin: 0 auto;
  padding-top: 20px;
  background:url("RedefinedWorksColor2.png") no-repeat;;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid layout */
  gap: 20px; /* Space between images */
}

.portfolio img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  transition: transform 0.3s ease; /*Zoom effect */
}

.portfolio img:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  
}

.video-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}



.allura-regular {
  font-family: "Allura", serif;
  font-weight: 400;
  font-style: normal;
}